@model SignupViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Signup";
}
<h1>SignUp</h1>

<form asp-controller="Identity" asp-action="Signup" method="post">
    @Html.ValidationSummary()
    <div class="form-group col-4">
        <label asp-for="Email">Email: </label>
        <input type-="text" asp-for="Email" class="form-control"/>
    </div>

    <div class="form-group col-4">
        <label asp-for="Password">Password: </label>
        <input type-="Password" asp-for="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<div class="alert alert-info">
    If you already have an account, please <a asp-action="Signin">SignIn</a> 
</div>